{% extends "templates/web.html" %}

{% block title %}{{ store_name or "Store" }}{% endblock %}

{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
<link rel="stylesheet" href="/assets/erpnext_store/dist/css/store.bundle.css">
{% endblock %}

{% block page_content %}
<div id="store-app">
  <div id="store-loading" class="store-loading">
    <div class="loading-spinner"></div>
    <p>Loading store…</p>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/erpnext_store/dist/js/store.bundle.js"></script>
{% endblock %}
